body {
    height: 100vh;
    background-color: #1a1e2b;
    overflow: hidden;
    font-family: 'Londrina Solid', cursive;
    color: #ffffff;
}

main {
    width: 100%;
    height: 100%;
}

.contain-canvas {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}

header {
    margin-top: 2%;
    margin-bottom: 2%;
}

h1, h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

h1 {
    top: 5%;
    font-size: 2.5rem;
}

h2 {
    top: 15%;
    font-size: 1.8rem;
}

.scoreboard {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 15vw;
    height: 60vh;
    background-color: #181825;
    color: #ffffff;
    left: 5%;
    top: 15%;
    border-radius: 5%;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.score-register {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    font-size: 1.2rem;
}

.scores li {
    margin-top: 2%;
    margin-bottom: 2%;
}

#boardsnake {
    border: 5px solid #000000;
}

.replay {
    display: none;
    position: absolute;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: white;
    background-color: #6360a3;
    outline: none;
    transition: .1s;
    box-shadow: 0px 5px 10px #6360a3;
    border-style: none;
    border-radius: 10px;
}

.replay:hover {
    background-color: #8cb4ff;
    box-shadow: 0px 0px 15px #8cb4ff;
    color: black;
}

.replay-show {
    display: block;
}

button {
    font-family: 'Londrina Solid', cursive;
}

.buttons {
    display: none;
    position: absolute;
    direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    bottom: 10%;
}

.buttons-show {
    display: flex;
}

.level1, .level2, .level3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 250px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    margin: 0px 5px 0px;
    background-color: #6360a3;
    cursor: pointer;
    outline: none;
    transition: .1s;
    box-shadow: 0px 5px 7px #6360a3;
}

.level1:hover, .level2:hover, .level3:hover {
    background-color: #8cb4ff;
    box-shadow: 0px 0px 15px #8cb4ff;
    color: black;
}

.level1:active, .level2:active, .level3:active {
    transform: translateY(2px);
    box-shadow: #3B59C5;
}

.level1 {
    margin-left: 7em;
}

.level3 {
    margin-right: 7em;
}


.touch-arrows {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: blue;
    bottom: 5%;
}

.touch-arrows.isHidden {
    display: none;
}

.touch-arrow {
    --dimensions: 70px;
    background-color: red;
    width: var(--dimensions);
    height: var(--dimensions);
    border-radius: 20%;
    margin: 5px 5px;
}

.contain-arrows {
    display: flex;
    justify-content: center;
}

/* Responsive */

@media (max-width: 980px){
    
    .scoreboard {
        display: none;
    }

    header {
        margin-top: 5%;
        margin-bottom: 0%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }
}